.container {
  max-width: 95%;
}

.carousel{
  /*サイズ指定*/
 height:200px;
}

svg{

  height:200px;
  display: flex;
}

img{
  height: 180px;
}


/* 幼稚園 */
.btn-pink{
  background-color: pink;
}


.janru{
  width: 150px;
  background-color: rgb(121, 120, 120);
  text-align: center;
}

.kategori{
  text-align: center;
}

@media (max-width: 450px) {
  /* 横幅が320px以下の場合に適用するスタイル */
  .kategori{
    
  }
}
