.container {
  max-width: 95%;
}

.carousel{
  /*サイズ指定*/
 height:200px;
}

svg{

  height:200px;
  display: flex;
}

img{
  height: 180px;
}


/* 幼稚園 */
.btn-pink{
  background-color: pink;
}


.janru{
  width: 100%;
  background-color: rgb(121, 120, 120);
  text-align: center;
}

.kategori{
  text-align: center;
}

/* カルーセルのニックネームの色 */
.nickname{
  color: rgb(82, 163, 0);
}
/* カルーセルのニックネームの位置 */
.height{
  height: 30%;
}

.margin{
  margin-bottom: 0%;
}

/* カルーセルのタイトルの色 */
.title{
  color: rgb(100, 36, 36);
}
