{% extends 'bookdoor/layout.html' %}
{% load static %}

{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Small Business - Start Bootstrap Template</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<!-- Core theme CSS (includes Bootstrap)-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'bookdoor/css/comment_search.css' %}">
{% endblock %}

{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">コメントけんさく</h1>
          <p class="lead fw-normal text-white-50 mb-0">ジャンルを選択しコメントを検索することができます</p>
      </div>
  </div>
</header>
<div class="container px-lg-5 pt-1 bg-white height mt-4 mt-md-5">
  <div class="row gx-4 gx-lg-5  my-5">
    <!-- age choice -->
    <div class="col-md-3 mb-3 clearfix">
      <h4>コメントをけんさくする</h4>
      <div class="input-group my-3">
        <form action="{% url 'bookdoor:comment_search' category_id 'None' evaluation %}" method="post">
          {% csrf_token %}
          {{ form }}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
          </span>
        </form>
        <!-- <input type="text" class="form-control" placeholder="キーワードを入れる"> -->
      </div>
      <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          カテゴリ
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'bookdoor:comment_search' 0 search evaluation %}">すべて</a>
          {% for item in category %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'bookdoor:comment_search' item.id search evaluation %}">{{ item.category }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-8 ml-lg-5">
      <div class="mb-3">
        {% if search != 'None' %}
        <strong>けんさく：{{ search }}</strong>
        {% endif %}
        {% if category_id != 0 %}
        {% for item in category %}
        {% if item.id == category_id %}
        <strong>カテゴリー：{{ item.category }}</strong>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      <div class="row gx-4 gx-lg-5 ml-lg-4">
        {% for item in data %}
        <div class="card mb-3 bg-light row-width">
          <div class="row no-gutters position-relative">
            <div class="col-5 col-md-2">
              <img class="img-fluid rounded mb-4 mb-lg-0" src="https://m.media-amazon.com/images/I/417V0YU0LEL._SL500_.jpg" alt="..." />
            </div>
            <div class="col-5 col-md-5">
              <div class="card-body">
                <h5 class="card-title">{{ item.book.title }}</h5>
                {% if item.book.author != '' %}
                <p class="card-text">{{ item.book.author}}(著)</p>
                {% endif %}
                {% if item.book.illustrator != '' %}
                <p class="card-text">{{ item.book.illustrator}}(イラスト)</p>
                {% endif %}
                {% if item.book.translator != '' %}
                <p class="card-text">{{ item.book.translator }}(翻訳)</p>
                {% endif %}
                <p class="card-text"><small class="text-muted">{{ item.good }}人にいいねされています。</small></p>
              </div>
            </div>
            <div class="col-2 col-md-5 position-static">
              <div class="card-body">
                <a href="{% url 'bookdoor:book_detail' item.book.code %}" class="stretched-link position-static"></a>
                <br><br><br>
                <h4 class="card-text comment-color">『{{ item.title }}』</h4>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- <div>
  評価
  <div><a href="{% url 'bookdoor:comment_search' category_id search 0 %}">すべて</a></div>
  {% for item in evaluation_list %}
  <div>
    <a href="{% url 'bookdoor:comment_search' category_id search item %}">
      {{ item }}
    </a>
  </div>
  {% endfor %}
</div> -->
