{% extends 'bookdoor/layout.html' %}
{% load static %}

{% block title %}{{ search }}-BookDoor{% endblock %}

{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Small Business - Start Bootstrap Template</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'bookdoor/css/favorite_book.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-2 offset-md-10 mt-2">
  <div class="border-bottom mb-2">
    <select class="form-control">
      <option>新しい順</option>
      <option>小説</option>
      <option>ビジネス書</option>
      <option>参考書</option>
      <option>？？？</option>
      <option>？？？</option>

    </select>
  </div>
</div>
<nav class="navbar navbar-expand-lg p-3  ml-4">
  <div>
    <h3 class="ribbon4">お気に入りの本</h3>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row gx-4 gx-lg-5">
        {% if count == 0 %}
        <div>存在しません</div>
        {% else %}
        {% for item in data %}
        <div class="col-md-2 mb-5 position-relative">
          <div class="card" style="width: 100%;">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://th.bing.com/th/id/R.9c8cc5abafd6fb189ee0b8b71e007656?rik=fHAv6vNszoJIwA&riu=http%3a%2f%2f3.bp.blogspot.com%2f-nSyw6s-QSdw%2fUZ7tKisH_vI%2fAAAAAAAAEgA%2fSGb7H5_kiK8%2fs1600%2f001%2525E9%25259D%252592.jpg&ehk=%2fLMQokwyI08c0AhlHW5%2f6HfSUi0p2p4rVMGFsM4plT0%3d&risl=&pid=ImgRaw&r=0" alt="..." />
            <div class="card-body position-static">
              <h5>{{ item.title }}</h5>
              <!-- <h6 class="fav-author">一穂ミチ</h6> -->
              <a href="book_detail.html" class="stretched-link"></a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>  
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
