.container {
  max-width: 95%;
}

/* プロフィール画面の読んだ本リボン */
.ribbon3 {
  display: inline-block;
  position: relative;
  height: 60px;/*高さ*/
  line-height: 60px;/*高さ*/
  text-align: center;
  padding: 0 40px 0 18px;/*文字の左右の余白*/
  font-size: 18px;/*文字サイズ*/
  background: #ffc668;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}

.ribbon3:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon3:after {
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.flex{
  display: flex;
}

.profile{
  border: 20px inset rgb(12, 22, 153);

}

.border1{
  border-bottom: 3px inset rgb(94, 75, 75);;
}

@media screen and (max-width:770px) { 

  .txt{
    font-size:large;
  }
  
}
